{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>ログイン</h2>
    <form method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <input type="text" id="inputUserName" name="username" class="form-control mb-2" placeholder="ユーザー名" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control mb-3" placeholder="パスワード" required>
        <button class="btn btn-lg btn-secondary my-1" type="submit">ログイン</button>
    </form>
    <a href="{% url 'admin:index' %}">管理者ログイン</a>
{% endblock %}
